$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$pr-color: '3f51b5';  
@mixin background-img ($src){
    background-image: url($src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
       }
@mixin gradient ($color1,$color2, $color3) {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(left, $color1 0%, $color2 50%, $color3 100%);
    opacity: .6;
}       
html{
    font-size: 10px;
}
body{
    font-size: 17px;
    background-color: $divider-color;
    color: $secondary-text-color;
    input{
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border: 2px solid $primary-color;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        &::-webkit-input-placeholder{
            color:$primary-color;
        }
        &:-moz-input-placeholder{
            color:$primary-color;
        }
    }
    .container{
        padding: 0;
    }
    //Заголовок
    .title{
        overflow: hidden;
        text-align: center;
        h4{
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            color: $secondary-text-color;
            margin: 2rem 0;
            padding: 2rem;
            font-size:1.5em;
        }
        &:before,
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            height: 1rem;
            background-color: $primary-color;
            position: relative;
            opacity: .5;
        }
        &:before{
            margin-left: -100%;
            left: 1.5rem;
        }
        &:after{
            margin-right: -100%;
            right:1.5rem;
        }
    }
    // Кнопка Отправить
    .btn{
        border: 2px solid $primary-color;
        background-color: transparent;
        border-radius: 0.5rem;
        color: $primary-color;
        font-size: 1em;
        padding: 1rem 2rem;
        transition: all 0.2s;
        &:hover{
            background-color: $primary-color;
            color: $primary-color-text;
        }
    }
    // 
    .btn-inverse{
        border: 2px solid $primary-color;
        background-color: $primary-color;
        color: $primary-color-text; 
        border-radius: 0;   
        font-size: 1em;
        padding: 1rem 2rem;  
        transition: all 0.2s;
        &:hover{
           color: $primary-color;
           background-color: transparent;
        }
    }
    // Меню
    .navbar{
        border: 1px solid $primary-text-color;
          .number-phone{
              padding: 0.3rem 5rem;
              color: $primary-color;
          }
          .navbar-nav {
              li.nav-item > a.nav-link{
              color:$primary-text-color;
              &:hover{
                  color:$primary-color;
              }
              li.active > a.nav-link{
                color: $primary-color;}
          }
        }
    }
    // Шапка
    header{
        @include background-img ('../img/header.png');
        padding: 15rem 3rem;
        p{
            color:$secondary-text-color;
        }
        h4{
            font-weight: bold;
            font-size: 20px;
            color:$secondary-text-color;
            > span{
                color:$primary-color;
            }
        }
        form{
            border: double 1rem $primary-color-text;
            div{
                background-color: rgba($primary-color-text, 0.85);
                padding: 1.5rem;
            }
            span{
                color:$primary-color;
                font-size: 0.9em;
                font-weight: bold;
            }
            
        }
    }
    // Популярные категории
    .popcat{
        @include background-img('../img/background.jpg');
        padding-bottom: 3rem;
        
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            p{
                padding: 0;
                margin: 0;
                font-weight: bold;
                color: $primary-text-color;
                text-shadow: 0 0 3px $primary-color-text;
                font-size: 1.2em;
                z-index: 100;
                position: absolute;
                transition: all 1s;
            }
            img{
                transition: all 1s;
            }
            &:hover{
                img{
                    background-color:$primary-color-light;
                    transform: scale(1.1);
                    }
                    p{
                    transform: scale(0.9);                   
                        }            
            }
        }
    }
// Преимущества
.adv{
    color: $primary-color-text;
    background: url('../img/adv.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    &:before{
         @include gradient($primary-color-dark, $primary-color ,$primary-color-light )
    } 
    .row{
        padding: 3rem 0;
    }
    h6{
        font-size: 1em;
        margin: 1rem 0;
        font-weight: bold;
    }
    p{
        font-size: 0.7em;
    }
}
.popgoods{
    @include background-img('../img/background.jpg');
    .row{
        padding-bottom: 3rem;
    }
    .row:first-child{
        padding: 0;
    }
    h6{
        font-size: 1em;
        font-weight: bold;
    }
}
// Закажи замер
.form_zamer{
   position: relative;
    @include background-img('../img/fiedback.png');
    // &:before{
    //   @include gradient($primary-color-dark, $primary-color ,$primary-color-light);
    // }
  .row{
    padding: 3rem 0;
  }
  h6{
      font-size: 1em;
  }
  p{
      font-size: 0.8em;
  }
  img{
      margin-bottom: 1.5rem;
      transition: all 0.5s;
      &:hover{
          transform: scale(1.2);
      }
  }
  input{
      width: 100%;
      padding: 1.5rem;
      background: transparent;
      border: 2px solid $primary-color-text;
      margin-bottom: 1rem;
      &::-webkit-input-placeholder{
        color:$primary-color-text;
    }
    &:-moz-input-placeholder{
        color:$primary-color-text;
    }
  }
}
// Отзывы
.rewiews{
    @include background-img('../img/background.jpg');
    padding-bottom: 3rem;
    .card{
        height: 100%;
        h5{
            font-size: 1em;
            color: $primary-color;
            font-weight: bold;
        }
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }
}
footer{
    border: 1px solid $primary-text-color;
    color: $primary-text-color;
    .menu{
        a.active{
            color: $primary-color;
        }
        a{
            color: $primary-text-color;
            &:hover{
                color: $primary-color;
            }
        }
    }
}
}